
.icon-edit:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-pin-outline:before { content: '\e802'; } /* '' */
.icon-plus-circle:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
